body{
    font-family: Arial, san-serif;
    text-align: center;
    background-color: #f0f0f0;
}
h1 {
    color: #007BFF
}
.input-container{
    margin: 10px;
}
input[type="text"]{
    padding: 10px;
    font-size: 16px;
    width: 200px;
}
button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
#tasklist{
    list-style-type: none;
    padding: 0;
}
li {
    background: #fff;
    padding: 20px;
    margin: 10px auto;
    width: 300px;
    text-align: left;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}
li:hover{
    background-color: #f9f9f9;
}
.complete{
    text-decoration: line-through;
    color: grey;
}
.delete-button{
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
#todocontainer, #doingcontainer, #donecontainer{
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    width: 30%;
    box-sizing: boreder-box;
    margin: 10px;
}
#errormessage{
    margin-top: 10px;
    color: red;
}
.task-sections{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}